@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.highlight {
  padding: 1rem !important;
  padding-top: 2rem !important;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $gray-100;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  font-size: .89rem !important;

  @include media-breakpoint-up(sm) {
    padding: 1.5rem !important;
    padding-top: 2rem !important;
  }
}

.bd-content .highlight {
  margin-right: (-$grid-gutter-width / 2);
  margin-left: (-$grid-gutter-width / 2);

  @include media-breakpoint-up(sm) {
    margin-right: 0;
    margin-left: 0;
  }
}

.highlight {

  pre {
    padding: 0;
    margin-top: .65rem;
    margin-bottom: .65rem;
    background-color: transparent;
    border: 0;
  }
  pre code {
    @include font-size(inherit);
    color: $gray-900; // Effectively the base text color
  }
}

.bd-clipboard {
  position: relative;
  display: none;
  float: right;

  + .highlight {
    margin-top: 0;
  }

  @include media-breakpoint-up(md) {
    display: block;
  }
}

.btn-clipboard {
  position: absolute;
  top: .65rem;
  right: .65rem;
  z-index: 10;
  display: block;
  padding: .25rem .5rem;
  @include font-size(65%);
  color: $primary;
  background-color: $white;
  border: 1px solid;
  @include border-radius();

  &:hover {
    color: $white;
    background-color: $primary;
  }
}
